:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  display: block; /* Remove extra specific spacing */
}
